body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  background-image: url('');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgba(0, 0, 0, 0.9);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.407);
  width: 320px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 26px;
  color: #e60023;
  font-weight: bold;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.login-container button {
  padding: 12px 24px;
  background: #e60023;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
}

.login-container button:hover {
  background: #cc001f;
}

.error-msg {
  color: red;
  margin-top: 12px;
  font-size: 14px;
}
.run-container {
  text-align: center;
  margin-top: 20px;
}
.run-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: background 0.4s ease-in-out, transform 0.2s ease-in-out;
}
.run-btn:hover {
  transform: scale(1.05);
}
.run-btn svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}
.run-btn:hover svg {
  transform: translateX(5px);
}


.save-button {
  background-color: #e60023;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin: 10px auto 0;
}
.save-button:hover {
  background-color: #cc001f;
}
